.admin-div,
.admin-show,
.admin-register {
    display: flex;
    max-width: 1200px;
    width: 100%;
    justify-content: space-around;
}
.register-users,
.register-booking {
    width: 25%;
}
.admin-div {
    min-height: 800px;
    flex-direction: column;
    align-items: center;
    background-image: url("../../assets/bgr-user.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.admin-show {
    flex-direction: row;
}
.admin-register {
    align-items: center;
}
.register-users {
    flex-direction: column;
    align-items: center;
}
.show-users {
    margin-left: 15px;
}

.show-bookings {
    margin-right: 15px;
    background-color: beige;
    margin-left: -30px;
}
