.admin-div {
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.admin-reg {
    padding-bottom: 20px;
}

.admin-main {
    max-width: 1200px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.admin-users {
    margin-left: 15px;
    background-color: aqua;
}

.admin-bookings {
    margin-right: 15px;
    background-color: beige;
}
