.show-bookings,
.show-users {
    display: flex;
    justify-content: space-around;
    border: 2px solid black;
    border-radius: 10px;
    padding: 20px;
    background-color: beige;
}
.register-booking,
.register-users {
    display: flex;
    justify-content: space-around;
    border: 2px solid black;
    border-radius: 10px;
    padding: 0px 20px;
    padding-bottom: 20px;
    background-color: beige;
}
.show-spacing {
    margin-bottom: 12px;
}
.main-container {
    max-width: 1200px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.my-content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 10px 0;
    width: 100%;
    min-height: 800px;
    background-image: url("../../assets/bgr-user.png");
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 5px;
}
.content-home {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    min-height: 500px;
    background-color: blue;
    background-image: url("../../assets/bgr-front.png");
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 5px;
}
.left-home {
    width: 25%;
}
.lower {
    margin-top: 30px;
}
.login-btn {
    border: none;
    cursor: pointer;
    font-size: 24px;
    width: 150px;
    padding: 20px;
    background-color: aqua;
    transition: background-color 0.3s;
}
.login-btn:hover {
    background-color: aqua;
}
.register-booking {
    width: 30%;
}
.upper-cont {
    display: flex;
    width: 100%;
    margin-left: 25px;
}
.right-side {
    color: white;
}
.show-bookings {
    width: 50%;
    margin-left: 25px;
}
